.menuWitdh {
  width: 5%;
  height: 9.5%;
  background-color: #e3e3e3;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.menuBottons {
  width: 5%;
  height: 100%;
  margin-top: 3.5rem;
  background-color: #e3e3e3;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.iconPosition {
  text-align: center;
  margin-top: 0.7rem;
}